<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Smoke" parallel="none" preserve-order="true">

    <listeners>
        <listener class-name="listeners.ExtentReportListener" />
    </listeners>

    <test name="SmokeTests" enabled="true">
        <classes>

            <class name="authentication.Login">
                <methods>
                    <include name="testHomeTitle" />
                    <include name="testUrlProtocol" />
                    <!--<include name="testNavigateToSignIn" />-->
                    <!--<include name="testSignIn" />-->
                </methods>
            </class>

        </classes>
    </test>

</suite>